<!-- app.component.html -->
<!-- by adamsun -->
<div class="page-container">
  <!-- Trip Planner Header -->
  <h1>Trip Planner</h1>

  <!-- City Selection Dropdown -->
  <div>
    <label class = "blue-heading" for="cityDropdown">Select a city:</label>
    <select id="cityDropdown" (change)="onCitySelection($event)">
      <option value="Rome" selected>Rome</option>
      <option value="Athens">Athens</option>
      <option value="Tokyo">Tokyo</option>
      <option value="Edmonton">Edmonton</option>
      <option value="Calgary">Calgary</option>
    </select>
  </div>
  <div>
    <label for="dateDropdown">Select a date:</label>
    <select id="dateDropdown" (change)="onDateSelection($event)">
      <option value="today">Today</option>
      <option value="1">+1 Day</option>
      <option value="2">+2 Days</option>
      <option value="3">+3 Days</option>
      <option value="4">+4 Days</option>
      <option value="5">+5 Days</option>
    </select>
  </div>
  <!-- Main Content Area -->
  <div class="main-content">
    <!-- Short Paragraph on City -->
    <div *ngIf="selectedCity !== null">
      <h2 class = "orange-heading">Short Paragraph on {{ selectedCity }}</h2>
       <!-- Display the city image -->
      <img src="assets/{{ cityImages[selectedCity] }}" alt="{{ selectedCity }}" class="city-image">
      <p>
        {{ cityDescription }}
      </p>
    </div>

    <!-- Current Weather in City -->
    <!-- check if it is today -->
    <div *ngIf="selectedCity !== null && selectedDate === 'today'">
      <h2 class="orange-heading">Current Weather in {{ selectedCity }}</h2>
      <!-- display the current weather information -->
      <p class="weather-info">Weather: {{ weatherData?.weather }}</p>
      <p class="weather-info">Temperature: {{ weatherData?.temperature | number: '1.0-2' }} °C</p>
    </div>
    <!-- check if it is not today -->
    <div *ngIf="selectedCity !== null && selectedDate !== 'today'">
      <h2 class="orange-heading">Weather in {{ selectedCity }} + {{ selectedDate }} days</h2>
      <!-- the weather forecast information -->
      <p class="weather-info">Weather: {{ weatherData?.weather }}</p>
      <p class="weather-info">Temperature: {{ weatherData?.temperature | number: '1.0-2' }} °C</p>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <p> Developed by Adam Sun <a href="mailto:adamsunmaple@gmail.com">adamsunmaple@gmail.com</a></p>
  </footer>
</div>